.celebrate-team-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000000;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.celebrate-player-1 {
    position: relative;
    height: 100%;
    width: auto;
}

.celebrate-player-2 {
    position: relative;
    height: 100%;
    width: auto;
}

.celebrate-goal{
    width: 400px;
    height: auto;
    position: relative;
}