.init-game{
    background: url("/images/background_image.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    color: white;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.init-game-logo{
    position: absolute;
    margin: 0 auto;
    scale: .7;
    top:-15vh;
}

.init-game-container-buttons{
    align-self: center;
    margin-bottom: 1vh;
}

.init-game-options, .init-game-option-start{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.init-game-options{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    left: 0;
    bottom: 2rem;
    padding: 0 1rem;
}

.init-game-option-start{
    height: 99vh;
    justify-content: end;
}

.init-game-option:nth-child(2){
    justify-self: end;
}
.init-game-option:nth-child(4){
    justify-self: end;
}
.init-game-option:nth-child(6){
    justify-self: end;
}

.init-game-option, .init-game-start-btn{
    text-decoration: none;
    background-image: url("/images/menu_opt_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 600px;
    height: auto;
    padding: 2rem 2rem;
    text-align: center;
    cursor: pointer;
}

@keyframes buttonInit {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.95);
    }
    100%{
        transform: scale(1);
    }
}

.init-game-start-btn{
    animation-name: buttonInit;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    font-size: 2rem;
}

.init-game-option{
    transition: .3s;
    font-size: 2rem;
}

.init-game-option:hover{
    transform: scale(1.12);
}