.select-category-container{
    background-color: #0008;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.setect-category-confirm{
    background-image: url("/images/modulo_pregunta.png");
    background-size: 100% 100%;
    width: 600px;
    height: 70px;
    position: relative;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-btn-confirm{
    border: none;
    background-color: transparent; 
    color:#fff;
    font-size: 2rem;
    font-weight: bolder;
    transition: .3s ease-in-out;
    width: 100%;
}

.category-btn-confirm:hover{
    font-size: 2.1rem;
    color: #1b9edb;
    cursor: pointer;
}

.category-list{
    background-image: url("/images/modulo_panel.png");
    background-size: 100% 100%;
    background-position: center;
    width: 800px;
    height: 600px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.8rem;
}

.category-item-container{

}

p.category-item-text{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    transition: .3s;
}

p.category-item-text:hover{
    color: #1b9edb;
    cursor: pointer;
}