.user-viewer-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: #0008;
    background-image: url("/images/modulo_panel.png");
    background-size: 80% 80%;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: 10000000;
    overflow: auto;
}

.user-viewer-content {
    width: 70vw;
    height: 50vh;
    overflow-y: scroll;
}

table.user-viewer-list {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

/* width */
.user-viewer-content::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.user-viewer-content::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.user-viewer-content::-webkit-scrollbar-thumb {
    background: rgb(3, 170, 230);
    border-radius: 25px;
    height: 15px;
}

/* Handle on hover */
.user-viewer-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-viewer-item {
    position: relative;

}

.user-viewer-cell {
    text-align: left;
    border: 1px solid #fff;
    font-size: 1.5vw;
    padding: 2px;
}

.user-viewer-container-btn{
    background-image: url("/images/menu_opt_background.png");
    background-size: 100% 100%;
    width: 50vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    bottom: 0;
    transition: .3s;
    top: 12vh;
}

.user-viewer-container-btn:hover{
    scale: .9;
}

button.user-view-btn-confirm{
    background: none;
    border: none;
    color: #fff;
    font-size: 2vw;
    cursor: pointer;
    transition: .3s;
    font-weight: bolder;
    width: 100%;
}

button.user-view-btn-confirm:hover{
    color:#1b9edb;
}